.card {
    display: inline-block;       /* permet à la carte de s'adapter à son contenu */
	width: max(20%,150px);
    cursor: pointer;
    position: relative;          /* nécessaire pour positionner .info */
    overflow: hidden;            /* empêche .info de déborder */
	border-radius: 10px;
}

/* Styles spécifiques pour les cartes dans scroll-container */
.scroll-container .card {
    display: block;
    width: 200px;
}

.card img {
    display: block;              /* évite les espaces indésirables */
    width: 100%;                 /* image prend toute la largeur de la carte */
    height: auto;
}

.card .info {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6); /* fond semi-transparent */
    color: #fff;
    /*text-align: center;*/
    padding: 20px;
    box-sizing: border-box;      /* padding inclus dans la taille */
}

.card:hover .info {
    display: flex;
	flex-direction: column;
}
